@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body{
    background: #222222;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 20px 0;
}

.header{
    padding-top: 100px;
    padding-bottom: 100px;
    background: #444444;
    background-image: url("https://www.wallpaperup.com/uploads/wallpapers/2017/01/17/1074737/a61774687df4142a54d3aad45d4dde8e-1000.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}

.logof1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: seashell;
    align-items: center;
    margin-left: 50px;
    position: relative;
    top: -70px
}

.logof1 img{
    width: 200px;
    height: 50px;
}

.logof1 h1{
    padding: 20px;
}

.bloco{
    display: flex;
    justify-content: center;
    text-align: center;
    color: seashell;
}
.single{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: top;
    text-align: left;
    margin-left: 25%;
    margin-right: 25%;    
}

.botao{
    background-color: #ff2800;
    border: none;
    border-radius: 10px;
    color: white;
    display: inline-block;
    padding: 20px;
    margin: 10px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    width: 130px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.796);
}

.botao:hover{
    background-color: #7a0000;
    transition: 0.25s;
    transform: scale(1.1);
}

.tabela{
    border: 1px solid #adadad;
    border-spacing: 0;
    width: 100%;
    margin: 0 50px 20px;
}

.tabela tr:nth-child(even) td{
    background-color:#444444;
    color: seashell;
}

.tabela_header td{
    font-weight: bold;
    padding: 10px;
}



.formulario{
    display: flex;
    flex-direction: column;
    
    
}

.item_form input, textarea{
    width: 500px;
    padding: 0px;
    
}
.item_form label{
    padding: 10px;
}


.item_form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}







.sucesso{
    background-color: #d4edda;
    border: #c3e6cb;
    border-radius: 4px;
    color: #155724;
    margin: 0 50px;
}
.tabela_single tr td{
    width: 250px;
    height: 25px;
    font-size: 20px; 
    padding: 5px;
}

.tabela_single tr:nth-child(even) td{
    background-color: rgb(93, 100, 107);
    color: white;    
}

.tabela_single tr:nth-child(odd) td{
    background-color: rgb(216, 216, 216);
    color: black;
}

.tabela_single td:nth-child(even) {
    text-align: right;
}

.bio{
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    margin-right: 25%;
    text-align:justify;
}


.imagem_piloto{
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.796);
    height: 200px;
}

.imagem_piloto:hover{
    transition: 0.3s;
    transform: scale(1.2);
}

.botoes{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    text-align: center;
    color: seashell; 
}

.botoes_header{
    margin-right: 50px;
    position: relative;
    bottom: -100px;
}

@media (max-width:1440px){
    .tabela td{
        font-size: 12px;
    }
    .botao{
        width: 100px;
        font-size: 12px;
        padding: 15px;
    }
    .imagem_piloto{
        height: 175px;
    }
}