<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo Blue - HTML, CSS, JS, Python e SQL</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>
    {% include 'header.html' %}
    
    <div class="bloco bloco_form">
        <h2>Criar Registros</h2>
        
        {% if not id_atribuido %}

        <form action="" method="POST">

            <div class="formulario">
                <div class="form_coluna">
                    <label for="nome">Nome do piloto: </label>
                    <label for="vitorias">Número de vitórias do piloto: </label>
                    <label for="poles">Número de pole-positions do piloto: </label>
                    <label for="gp_disputados">Número de GPs disputados: </label>
                    <label for="pontos">Número de pontos do piloto: </label>
                    <label for="podiums">Número de podiums do piloto: </label>
                    <label for="campeonatos">Número de Títulos do piloto: </label>
                    <label for="imagem_url">URL da imagem: </label>
                    
                </div>
                <div class="form_coluna">
                    <input type="text" name="nome" id="nome" />
                    <input type="text" name="vitorias" id="vitorias" />
                    <input type="text" name="poles" id="poles" />
                    <input type="text" name="gp_disputados" id="gp_disputados" />
                    <input type="text" name="pontos" id="pontos" />
                    <input type="text" name="podiums" id="podiums" />
                    <input type="text" name="campeonatos" id="campeonatos" />
                    <input type="text" name="imagem_url" id="imagem_url"/>
                </div>
            </div> 
           
            <input type="submit" value="Enviar Dados" class="botao" id="enviar_dados">           
        </form>

        {% else %}

        <div class="bloco">
            <p>
                Registro criado com sucesso!<br /><br />
                O ID atribuído foi <span class="botao">{{ id_atribuido }}</span><br /><br />
                <a href="/read/{{ id_atribuido }}" class="botao">Visualizar esse registro</a>
            </p>
        </div>

        {% endif %}
    </div>
    
</body>
</html>