<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estatísticas Formula 1</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>
    {% include 'header.html' %}
    
    <div class="bloco">
        <h2>Criar Registros</h2>
    </div>
        
    {% if not id_atribuido %}
      
    <div class="bloco">
        <form action="" method="POST">
            <div class="formulario">
                <div class="item_form">
                    <div>
                        <label for="nome">Nome do piloto: </label>
                    </div>
                    <div>
                        <input type="text" name="nome" id="nome" />
                    </div>
                </div>
                <div class="item_form">
                    <div>
                        <label for="vitorias">Número de vitórias do piloto: </label>
                    </div>
                    <div>
                        <input type="text" name="vitorias" id="vitorias" />
                    </div>
                </div>
                <div class="item_form">
                    <div>
                        <label for="poles">Número de pole-positions do piloto: </label>
                    </div>
                    <div>
                        <input type="text" name="poles" id="poles" />
                    </div>
                </div>
                <div class="item_form">
                    <div>
                        <label for="gp_disputados">Número de GPs disputados: </label>
                    </div>
                    <div>
                        <input type="text" name="gp_disputados" id="gp_disputados" />
                    </div>
                </div>
                <div class="item_form">
                    <div>
                        <label for="pontos">Número de pontos do piloto: </label>
                    </div>
                    <div>
                        <input type="text" name="pontos" id="pontos" />
                    </div>
                </div>
                <div class="item_form">
                    <div>
                        <label for="podiums">Número de podiums do piloto: </label>
                    </div>
                    <div>
                        <input type="text" name="podiums" id="podiums" />
                    </div>
                </div>
                <div class="item_form">
                    <div>
                        <label for="campeonatos">Número de Títulos do piloto: </label> 
                    </div>
                    <div>
                        <input type="text" name="campeonatos" id="campeonatos" />
                    </div>
                </div>
                <div class="item_form">
                    <div>
                        <label for="bio">Biografia: </label>
                    </div>
                    <div>
                        <textarea name="bio" id="bio" cols="30" rows="10"></textarea>
                    </div>
                </div>
                <div class="item_form">
                    <div>
                        <label for="imagem_url">URL da imagem: </label> 
                    </div> 
                    <div>
                        <input type="text" name="imagem_url" id="imagem_url"/>
                    </div>  
                </div>           
            </div> 
           
            <input type="submit" value="Enviar Dados" class="botao bloco" style="width: 170px;"/>           
        </form>
    </div>
    
    {% else %}

    <div class="bloco">
        <p>
            Registro criado com sucesso!<br /><br />
            O ID atribuído foi <span class="botao">{{ id_atribuido }}</span><br /><br />
            <a href="/read/{{ id_atribuido }}" class="botao">Visualizar esse registro</a>
        </p>
    </div>

    {% endif %}
    
</body>
</html>