<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estatísticas Formula 1</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>
    {% include 'header.html' %}
    
    {% if not registro %}

        <div class="bloco bloco_form">
            <h2>Criar Registros</h2>
        </div>

    {% else %}

        <div class="bloco bloco_form">
            <h2>Editar Registro</h2>
        </div>

    {% endif %}
        
    {% if not id_atribuido %}
    <div class="bloco bloco_form">
        <form action="" method="POST">

            <div class="formulario">
                <div class="form_coluna">
                    <label for="nome">Nome do piloto: </label>
                    <label for="vitorias">Número de vitórias do piloto: </label>
                    <label for="poles">Número de pole-positions do piloto: </label>
                    <label for="gp_disputados">Número de GPs disputados: </label>
                    <label for="pontos">Número de pontos do piloto: </label>
                    <label for="podiums">Número de podiums do piloto: </label>
                    <label for="campeonatos">Número de Títulos do piloto: </label>
                    <label for="bio">Biografia: </label>
                    <label for="imagem_url">URL da imagem: </label>
                    
                </div>
                {% if not registro %}
                <div class="form_coluna">
                    <input type="text" name="nome" id="nome" />
                    <input type="text" name="vitorias" id="vitorias" />
                    <input type="text" name="poles" id="poles" />
                    <input type="text" name="gp_disputados" id="gp_disputados" />
                    <input type="text" name="pontos" id="pontos" />
                    <input type="text" name="podiums" id="podiums" />
                    <input type="text" name="campeonatos" id="campeonatos" />
                    <input type="text" name="bio" id="bio" />
                    <input type="text" name="imagem_url" id="imagem_url"/>
                </div>
                {% else %}
                <div class="form_coluna">
                    <input type="text" name="nome" id="nome" value="{{ registro.nome }}" />
                    <input type="text" name="vitorias" id="vitorias" value="{{ registro.vitorias }}"/>
                    <input type="text" name="poles" id="poles" value="{{ registro.poles }}"/>
                    <input type="text" name="gp_disputados" id="gp_disputados" value="{{ registro.gp_disputados }}"/>
                    <input type="text" name="pontos" id="pontos" value="{{ registro.pontos }}"/>
                    <input type="text" name="podiums" id="podiums" value="{{ registro.podiums }}"/>
                    <input type="text" name="campeonatos" id="campeonatos"  value="{{ registro.campeonatos }}"/>
                    <input type="text" name="bio" id="bio"  value="{{ registro.bio }}"/>
                    <input type="text" name="imagem_url" id="imagem_url" value="{{ registro.imagem_url }}"/>
                </div>
                {% endif %}
            </div> 
            <div class="bloco">
                <h3>{{ erro }}</h3>
            </div>
            <div class="bloco">
                <input type="submit" value="Enviar Dados" class="botao" style="width: 170px;"/>   
            </div>
                    
        </form>

        {% else %}

        <div class="bloco">
            <p>
                Registro criado com sucesso!<br /><br />
                O ID atribuído foi <span class="botao">{{ id_atribuido }}</span><br /><br />
                <a href="/read/{{ id_atribuido }}" class="botao">Visualizar esse registro</a>
            </p>
        </div>

        {% endif %}
    </div>
    
</body>
</html>