<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD com Python (Flask), HTML, CSS, JS e SQL</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    {% include 'header.html' %}

    <div class="bloco">
        <h2>Visualizar todos os registros</h2>
    </div>

    <div class="bloco">
        <table class="tabela">
            <tr class="tabela_header">
                <td>ID</td>
                <td>Nome</td>
                <td>Vitórias</td>
                <td>Pole-positions</td>
                <td>Pontos</td>
                <td>Podiums</td>
                <td>Títulos</td>
                <td>Imagem</td>
                <td>Ações</td>
            </tr>

            {% for registro in registros %}

            <tr>
                <td>{{ registro["id"] }}</td>
                <td>{{ registro["nome"] }}</td>
                <td>{{ registro["vitorias"] }}</td>
                <td>{{ registro["poles"] }}</td>
                <td>{{ registro["pontos"] }}</td>
                <td>{{ registro["podiums"] }}</td>
                <td>{{ registro["campeonatos"] }}</td>
                <td><a href="/read/{{ registro['id'] }}"><img class="imagem_piloto" src=" {{ registro['imagem_url'] }}" alt="{{ registro['nome'] }}"  /></a></td>
                <td>
                    <div class="botoes">
                        <a href="/read/{{ registro['id'] }}" class="botao">Visualizar</a>
                        <a href="/update/{{ registro['id'] }}" class="botao">Editar</a>
                        <a href="/delete/{{ registro['id'] }}" class="botao">Remover</a>
                    </div>
                </td>
                

            </tr>

            {% endfor %}
        </table>
    </div>
</body>
</html>